<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title><@spring.message 'title' /></title>
<link rel="stylesheet" href="<@spring.url '/css/common.css' />">
